<!DOCTYPE html>
<html>
	<head>
		<title>Practicing with Sinatra and Angular</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	</head>
	<body>
		This is working
	</body>
</html>